<h1>About Me</h1>
<p>
This is the home page for the Micro blogging App. This is developed by <a href="https://www.facebook.com/piyushkhemka" target="_blank" >Piyush Khemka</a>
This app was inspired from Micheal Hartl's tutorial on Ruby on Rails.</p>

<p><i>
This app is not intended for commercial use.
<br/>
<p>*But feel free to explore around*</i></p>

